# .envrc.sample
# ~~~~~~~~~~~~~
# It is recommended to install direnv and symlink this to .envrc:
# $ brew install direnv
# $ ln -s .envrc.sample .envrc

python_version=3.9.9
use pyenv "$python_version"

export PYTHONDONTWRITEBYTECODE=1  # disable __pycache__

setup_done=".direnv/python-$python_version/setup.done"
if ! test -f "$setup_done"; then
  export PIP_DISABLE_PIP_VERSION_CHECK=1
  python -m pip install pre-commit
  python -m pip install pylint==2.15.3
  python -m pip install -e .
  pre-commit install
  touch "$setup_done"
fi
